﻿@using Resume_json.Models
@using Resume_json.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonFileAboutService AboutService
@using System.Threading;




<section class="resume-section" id="editAbout">
    <div class="resume-section-content">
        <h2 class="mb-5">Edit About</h2>
        <div class="d-flex justify-content-center align-items-center">
            <div class="card w-75">
                <div class="card-body">
                    <div class="input-group">
                        <span class="input-group-text">First and last name</span>
                        <input type="text" aria-label="First name" class="form-control" @bind="firstName">
                        <input type="text" aria-label="Last name" class="form-control" @bind="lastName">


                    </div>
                    <br>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone" aria-hidden="true"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Telephone" aria-label="Telephone" aria-describedby="basic-addon1" @bind="phoneNumber">
                    </div>

                    <button @onclick="(e => ChangeAbout(firstName,lastName,phoneNumber))" type="button" class="btn btn-outline-warning">Submit</button>
                </div>
            </div>
        </div>
    </div>
</section>




@code {

    About selectedAbout = new();

    String firstName = "";
    String lastName = "";
    String phoneNumber = "";

   
      
        void ChangeAbout(string firstName, string lastName, string phoneNumber)
        {
            selectedAbout.firstName = firstName;
            selectedAbout.lastName = lastName;
            selectedAbout.phoneNumber = phoneNumber;

            AboutService.EditAboutJS(firstName, lastName, phoneNumber);

        }
}
