﻿@using Resume_json.Models
@using Resume_json.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonFileAboutService AboutService

@foreach (var about in AboutService.GetAbout())
{
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                @about.firstName
                <span class="text-primary">@about.lastName</span>
            </h1>
            <div class="subheading mb-5">
                110/21 Moo2, Tambon Mahasawat, Amphur Bangkruy
                Nonthaburi, 11130 · @about.phoneNumber ·
                <a href="mailto:Pattamarekha@email.com">Pattamarekha@gmail.com</a>
            </div>
            <p class="lead mb-5">
                Looking for a challenging role in a reputable organization to utilize my technical,
                database, and management skills for the growth of the organization as well as to enhance my
                knowledge about new and emerging trends in Software development.
            </p>
            <div class="social-icons">
                <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
}
    @code {

        About selectedAbout = new();

        String firstName = "";
        String lastName = "";
        String phoneNumber = "";

        void GetAbout()
        {
            selectedAbout.firstName = firstName;
            selectedAbout = AboutService.GetAbout().First();
           


        }


    }
