﻿<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p class="mb-0">
            When forced indoors, I follow korean drama series and television
            shows, I spend a large amount of my free time exploring the latest
            technology advancements in web application development world.
        </p>
    </div>
</section>
@code {

}
