﻿@page
@using Resume_json.Components;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Resume - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet"
          type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Clarence Taylor</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2"
                     src="assets/img/profile4.jpg" alt="..." />
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#training">Training</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#editAbout">Edit About</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        @(await Html.RenderComponentAsync<GetAboutList>(RenderMode.ServerPrerendered))
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Senior Software Engineer</h3>
                        <div class="subheading mb-3">Gosoft (Thailand)</div>
                        <p>
                            Skilled and experienced develop, maintain and manage systems, software tools and
                            applications.
                            Resolve complex issues relating to business requirements and objectives.
                            Coordinate and support software professionals in installing and analyzing applications and
                            tools.
                        </p>

                        <div class="contrain">
                            <div class="row">
                                <div class="col-2">
                                    Company :<br />
                                    Department :<br />
                                    Position :<br />
                                    Job Detail :
                                </div>
                                <div class="col">
                                    Gosoft (Thailand) Company Limited<br />
                                    Human Resource Unit<br />
                                    Deputy Section Manager & Acting Field Manager - Senior Software Engineer<br />
                                    - Work with developers to developer application system.<br />
                                    - Gathering paint point, requirement and bring them to solve problems for
                                    users.<br />
                                    - Responsible for the Successful Go-Live of the Project and handover to Support
                                    Team.<br />
                                    - Responsible for testing software , finding and resolving any issue.<br />
                                    - Supported program human resource on production.<br />
                                    - Communicate with team and vendor team members to coordinateg completion.<br />
                                    - Created test cases for new program trading development.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex-shrink-0"><span class="text-primary">July 2018 - Present</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Quality Assurance</h3>
                        <div class="subheading mb-3">Asia Plus Securities</div>
                        <p>
                            Skilled and experienced software QA testing professional with extensive knowledge of QA
                            processes and test methodologies. Seeking a challenging position as an IT quality assurance
                            software tester in a renowned organization.
                        </p>
                        <div class="container">
                            <div class="row">
                                <div class="col-2">
                                    Company :<br />
                                    Department :<br />
                                    Position :<br />
                                    Job Detail :
                                </div>
                                <div class="col">
                                    Asia Plus Securities Company Limited<br />
                                    IT100 IT Support<br />
                                    Assistant Manager - Quality Assurance<br />
                                    - Work with developers to track backlogs items.<br />
                                    - Responsible for testing software , finding and resolving any issue.<br />
                                    - Supported program trading on production.<br />
                                    - Communicate with team and vendor team members to coordinateg completion.<br />
                                    - Created test cases for new program trading development.
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">April 2013 - June 2018</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Education</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Kasetsart University</h3>
                        <div class="subheading mb-3">Bachelor of Science</div>
                        <div>Information Technology</div>
                        <p>GPA: 3.17</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">June 2009 – March 2013</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Benjamarachalai School</h3>
                        <div class="subheading mb-3">High School</div>
                        <p>GPA: 3.09</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">May 2003 – March 2009</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Skills</h2>
                <div class="subheading mb-3">Programming Languages & Tools</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                    <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                    <li class="list-inline-item"><i class="fab fa-bootstrap"></i></li>
                    <li class="list-inline-item"><i class="fab fa-java"></i></li>
                    <li class="list-inline-item"><img src="assets/img/icon-spring-boot1.png" /></li>
                    <li class="list-inline-item"><img src="assets/img/c_sharp_icon.png" /></li>
                    <li class="list-inline-item"><img src="assets/img/sql-icon.png" /></li>
                </ul>
                <div class="subheading mb-3">Workflow</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Mobile-First, Responsive Design
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Cross Browser Testing & Debugging
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Cross Functional Teams
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Agile Development & Scrum
                    </li>
                </ul>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Interests-->
        @(await Html.RenderComponentAsync<InterestsList>(RenderMode.ServerPrerendered))
        <hr class="m-0" />
        <!-- Awards-->
        <section class="resume-section" id="training">
            <div class="resume-section-content">
                <h2 class="mb-5">Training & Certifications</h2>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        SQL for Data Science - University of California, Davis and offered
                        through Coursera
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        PropleSoft Human Resources Rel 9.2 Ed 2 PRV - Oracle University Training Class
                    </li>
                    <li>

                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        PropleSoft PeopleCode Rel 8.53 Ed 1 PRV - Oracle University Training Class
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        PropleSoft Globle Payroll Rel 9.2 Ed 1 PRV - Oracle University Training Class
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        PropleSoft Peopletools l Rel 8.53 Ed 1 PRV - Oracle University Training Class
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        PropleSoft Peopletools ll Rel 8.53 Ed 1 PRV - Oracle University Training Class
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        PropleSoft Security Rel 8.53 Ed 1 PRV - Oracle University Training Class
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Listening and Speaking for Communication - Mahidol University Online Class
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        English for Communication - Chiang Mai University Online Class
                    </li>
                </ul>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Edit About-->
        @(await Html.RenderComponentAsync<AboutList>(RenderMode.ServerPrerendered))

        <script src="_framework/blazor.server.js"></script>
        <section class="resume-section" id="editAbout">
            <div class="resume-section-content">
                <!--<h2 class="mb-5">Edit About</h2>-->
            </div>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </div>
</body>

</html>